<script nonce="@_Fun.Nonce" src="~/js/view/MyCrud.js"></script>
<script nonce="@_Fun.Nonce" src="~/js/view/Ui.js"></script>
<script nonce="@_Fun.Nonce" src="~/js/view/UiView.js"></script>
<script nonce="@_Fun.Nonce" src="~/js/view/UiMany.js"></script>
<script nonce="@_Fun.Nonce">
    $(function () {
        _me.init();
    });
</script>

<div class="row">
    <div class="col-md-4">
        <vc:xg-prog-path />
    </div>
    <div class="col-md-4 d-none pt-2 xd-prog-tbar">
        <div class="x-btns-box x-center">
            <button type="button" class="btn btn-secondary" data-onclick="_me.onOpenImport">Json匯入畫面...</button>
            <!-- edit2 才顯示 -->
            <button type="button" class="btn btn-secondary xd-export" data-onclick="_me.onExport">匯出畫面</button>
        </div>
    </div>
    <div class="col-md-4 d-none pt-2 xd-prog-tbar">
        <vc:xg-save-back align="right me-3" />
    </div>
</div>

<div class="x-prog">
    <!-- read form-->
    <div id="divRead">
        <!-- condition -->
        <form id='formRead' class='x-form mb-0'>
            <div class="row">
                @await Component.InvokeAsync(XiEstr.Select, new XiSelectDto { Title = "專案", Fid = "ProjectId2", Rows = ViewBag.Projects, InRow = true })
                @await Component.InvokeAsync("XgFindTbar")
            </div>
            @await Component.InvokeAsync(XiEstr.Text, new XiTextDto { Title = "功能代碼", Fid = "ProgCode" })
        </form>

        <!-- other functions -->
        <div class="x-btns-box mt-1">
            <vc:xg-create/>
            <button type="button" class="btn btn-secondary" data-onclick="_me.onGenCrud">產生CRUD</button>
        </div>

        <!-- result list -->
        <table id="tableRead" class="table x-table" cellspacing="0">
            <thead>
                <tr>
                    <th class="x-center x-w60">選取</th>
                    <th>專案</th>
                    <th>功能代碼</th>
                    <th>功能名稱</th>
                    <th class="x-center x-w100">拖拉編輯</th>
                    <th>建檔時間</th>
                    <th class="x-w100">維護</th>
                    <th class="x-center x-w100">資料狀態</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <!-- edit form-->
    <div id="divEdit" class="d-none">
        <partial name="Edit" />
    </div>

    <!-- 拖拉編輯 form-->
    <div id="divEdit2" class="d-none">
        <partial name="UiEdit" />
    </div>
</div>