@inject IHtmlLocalizer<DbAdm.R0> R

<script nonce="@_Fun.Nonce" src="~/js/view/MyCrud.js"></script>
<script nonce="@_Fun.Nonce">
    $(function () {
        _me.init();
    });
</script>

@await Component.InvokeAsync("XgProgPath", new { names = new string[] { R["MenuMyCrud"].Value } })
<div class="x-prog">
    <!-- read form-->
    <div id="divRead">
        <!-- condition -->
        <form id='formRead' class='x-form mb-0'>
            <div class="row">
                @await Component.InvokeAsync("XiSelect", new XiSelectDto { Title = R["Project"].Value, Fid = "ProjectId2", Rows = ViewBag.Projects, InRow = true })
                @await Component.InvokeAsync("XgFindTbar")
            </div>
            @await Component.InvokeAsync("XiText", new XiTextDto { Title = R["ProgCode"].Value, Fid = "ProgCode" })
        </form>

        <!-- other functions -->
        <div class="x-btns-box mt-1">
            @await Component.InvokeAsync("XgCreate", new { fnOnClick = "_me.crudR.onCreate()" })
            <button type="button" class="btn x-btn-gray" data-onclick="_me.onGenCrud">@R["GenCrud"]</button>
        </div>

        <!-- result list -->
        <table id="tableRead" class="table x-table" cellspacing="0">
            <thead>
                <tr>
                    <th class="x-center x-w60">@R["Select"]</th>
                    <th>@R["Project"]</th>
                    <th>@R["ProgCode"]</th>
                    <th>@R["ProgName"]</th>
                    <th class="x-w100">@R["Crud"]</th>
                    <th class="x-center x-w100">@R["Status"]</th>
                    <th>@R["Created"]</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <!-- edit form-->
    <div id="divEdit" class="d-none">
        <partial name="Edit" />
    </div>
</div>