@inject IHtmlLocalizer<DbAdm.R0> R

<form id='eform' class='xg-form'>
    @await Component.InvokeAsync("XiHide", new { fid = "Id" })
    @await Component.InvokeAsync("XiSelect", new { title = R["Project"].Value, fid = "ProjectId", value = "", rows = (List<IdStrDto>)ViewBag.Projects, required = true })
    @await Component.InvokeAsync("XiText", new { title = R["Table"].Value, fid = "Code", value = "", maxLen = 30, required = true })
    @await Component.InvokeAsync("XiText", new { title = R["TableName"].Value, fid = "Name", value = "", maxLen = 30, required = true })
    @await Component.InvokeAsync("XiCheck", new { title = R["TranLog"].Value, fid = "TranLog", value = "1", label = R["Yes"].Value })
    @await Component.InvokeAsync("XiCheck", new { title = R["Status"].Value, fid = "Status", isCheck = true, value = "1", label = R["Active"].Value })
</form>

<div class='xg-btns-box'>
    @await Component.InvokeAsync("XgAddRow", "_me.mCol.onAddRow()")
</div>
<form id='eformCol' class='xg-form' style="border:none">
    <table class="table table-bordered xg-table xg-no-hline" cellspacing="0">
        <thead>
            <tr>
                @await Component.InvokeAsync("XgTh", new { title = R["Column"].Value, required = true })
                @await Component.InvokeAsync("XgTh", new { title = R["ColName"].Value, required = true })
                @await Component.InvokeAsync("XgTh", new { title = R["DataType"].Value, required = true })
                <th width="60px">@R["Nullable"]</th>
                <th width="120px">@R["Default"]</th>
                <th width="80px">@R["Sort"]</th>
                <th>@R["Note"]</th>
                <th width="60px">@R["Crud"]</th>
                <th width="60px">@R["Status"]</th>
            </tr>
        </thead>

        <tbody id="divCols"></tbody>
    </table>
</form>
@await Component.InvokeAsync("XgSaveBack")

<!-- 多筆 row template, 必須設定寬度, Nullable欄位先設定 false(再由前端設定) -->
<script id="tplCol" type="text/template">
    <tr>
        @await Component.InvokeAsync("XiHide", new { fid = "Id" })
        <td>@await Component.InvokeAsync("XiText", new { fid = "Code", value = "{{Code}}", maxLen = 30, required = true })</td>
        <td>@await Component.InvokeAsync("XiText", new { fid = "Name", value = "{{Name}}", maxLen = 30, required = true })</td>
        <td>@await Component.InvokeAsync("XiText", new { fid = "DataType", value = "{{DataType}}", maxLen = 20, required = true })</td>
        <td class="text-center">@await Component.InvokeAsync("XiCheck", new { fid = "Nullable", required = false, value = "1" })</td>
        <td width="120px">@await Component.InvokeAsync("XiText", new { fid = "DefaultValue", value = "{{DefaultValue}}", maxLen = 30 })</td>
        <td width="80px">@await Component.InvokeAsync("XiText", new { fid = "Sort", value = "{{Sort}}", maxLen = 2, required = false, extAttr = "width:50px" })</td>
        <td>@await Component.InvokeAsync("XiText", new { fid = "Note", value = "{{Note}}", maxLen = 100 })</td>
        <td class="text-center">@await Component.InvokeAsync("XgDeleteRow", "_me.mCol.onDeleteRow(this)")</td>
        <td class="text-center">@await Component.InvokeAsync("XiCheck", new { fid = "Status", isCheck = true, value = "1" })</td>
    </tr>
</script>